



<div class="d-flex flex-wrap justify-content-around text-center">
    <!-- card 1 -->
    <div class="card" id="bordetarjeta"  style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 1.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Glenfiddich</h5>
        <p class="card-text">whisky escocés premium, notas afrutadas y especiadas. Perfecto para momentos especiales y refinados.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>comprar</a>
      </div>
    </div>
  
    <!-- card 2 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 2.jpeg" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Jack Daniel's Honey</h5>
        <p class="card-text">whisky suave con toque dulce de miel, ideal para disfrutar solo o en cócteles.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>comprar</a>
      </div>
    </div>
  
    <!-- card 3 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 3.jpg" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Jägermeister</h5>
        <p class="card-text">licor herbal alemán, sabor único y especiado. Perfecto para tomar frío o en shots.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>comprar</a>
      </div>
    </div>
  
    <!-- card 4 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="/assets/card 4.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Monkey Shoulder</h5>
        <p class="card-text">whisky escocés suave y versátil, con toques de vainilla y malta. Ideal para cócteles.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>comprar</a>
      </div>
    </div>
  
    <!-- card 5 -->
    <!-- <div class="card"  id="bordetarjeta" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 5.jpeg" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Absolut Vodka</h5>
        <p class="card-text">vodka sueco premium, puro y suave, con un sabor limpio. Perfecto para mezclar o solo.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
    </div>
     -->

  