<div class="d-flex flex-wrap justify-content-around text-center">
    <!-- card 1 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 1.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
    </div>
  
    <!-- card 2 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 2.jpeg" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
    </div>
  
    <!-- card 3 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 3.jpg" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
    </div>
  
    <!-- card 4 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="/assets/card 4.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
    </div>
  
    <!-- card 5 -->
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
        <img src="assets/card 5.jpeg" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
    </div>