h1 {
    text-align: center;
}

section {
    background-color: bisque;
}

/* Centrar el botón en su contenedor */
.btn {
    display: block;
    margin: 0 auto;
     padding: 30 px;
    background-color: #d5a96d; 
    border-color: #d5a96d; 
  }
  
  .btn:hover {
    background-color: #c38e5d; 
    border-color: #c38e5d; 
  }
  

  